.material-icons {
    color: white;
}

/*
    Fixed header has different widths on mobile and desktop
*/
.mdl-layout__header {
    position: fixed;
    top: 0;
}

/* Small underbar for currently active view */
.mdl-navigation__link.is-active-feed-view::after {
    height: 2px;
    width: 100%;
    display: block;
    content: " ";
    bottom: 0;
    left: 0;
    position: absolute;
    background: #ff4081;
    -webkit-animation: border-expand .2s cubic-bezier(.4,0,.4,1).01s alternate forwards;
    animation: border-expand .2s cubic-bezier(.4,0,.4,1).01s alternate forwards;
    transition: all 1s cubic-bezier(.4,0,1,1);
}

/*for new post modal*/
#overlayModal {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width: calc(100% - 60px);
    margin: 30px;
    text-align:center;
    z-index: 1000;
}
.mainbodyModal{
    margin: 100px auto;
    background-color: #fff;
    padding:15px;
    text-align:center;
}

.textModal{
    border-color: gray;
    border-style: solid;
    border-radius: 20px;
}

.wideModal{
    border-color: gray;
    border-style: solid;
    border-radius: 20px;
    height: 35%;
    width: 80%;
}

.blurred{
    filter: blur(3px);
}
/*end for new post modal*/

@media screen and (max-width: 1024px) {
    .mdl--layout__content {
        margin-top: 56px;
    }

    /* Categories sorting: underbar in desktop, swiping arrows on mobile*/
    #desktopCategoriesSwitcher {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .mdl--layout__content {
        margin-top: 64px;
    }
}

/*end header nonsense*/

/* Start Post Related CSS*/
#postsContentPanel {
    background-image: url('/static/image/corktile.jpg');
    background-attachment: local;
}

.mdl-card__title-text {
    color: white;
}

.post-image-attachments {
    font-size: smaller;
}

.post-authorship {
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.post-authorship > li {
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
}

.post-name-display {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}

#help_btn {
    padding: 0;
}

.chip {
    vertical-align: text-top;
    font-size: 14px;
    padding: 5px;
    /*border-radius: 15px;*/
    height: fit-content;
}

.verified_user {
    font-size: medium;
    color: blue;
    margin-right: 2px;
}

.subscribe-btn {
    color: black;
    vertical-align: text-top;
}

.subscribed-btn {
    color: 	#ffa726 !important;
    vertical-align: text-top;
}

.addButtonPlacement {
    position: fixed;
    right: 24px;
    bottom: 24px;
    padding-top: 24px;
    margin-bottom: 0;
    z-index: 99;
}

.thumbtack {
    position: absolute;
    left: calc(50% - 36px);
    top: -12px;
}

.postTitleCard {
    padding-top: 35px;
}

.postOptionsMenu {
    padding-top: 19px;
}

#main > .mdl-card {
    overflow: initial;
    height: fit-content;
    display: inline-grid;
}

/*
Post animations
*/
.list-enter-active, .list-leave-active {
    transition: all .5s;
}

.list-enter, .list-leave-to {
    opacity: 0;
    transform: translateY(30px);
}

/* End Post Related CSS*/

