.mdl-card__title-text {
    color: white;
}

.post-image-attachments {
    font-size: smaller;
}

.material-icons {
    color: white;
}

#postsContentPanel {
    background-image: url('/static/image/corktile.jpg');
}

.post-authorship {
    margin: 0;
    padding: 0;
}

.post-authorship > li {
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
}

#help_btn {
    padding: 0;
}

.chip {
    display: initial;
    vertical-align: text-top;
    font-size: 14px;
    padding: 5px;
    margin-right: 15px;
    border-radius: 15px;
}

.subscribe-btn {
    color: black;
    vertical-align: text-top;
}

.subscribed-btn {
    color: blue;
    vertical-align: text-top;
}
<<<<<<< Updated upstream

.addButtonPlacement {
    position: fixed;
    right: 24px;
    bottom: 24px;
    padding-top: 24px;
    margin-bottom: 0;
    z-index: 99;
}

.thumbtack {
    width:72px;
    position: absolute;
    left: calc(50% - 36px);
    top: 2px;
}

.postTitleCard {
    padding-top: 45px;
}
=======
>>>>>>> Stashed changes
