.mdl-card__title-text{
    color: white;
}

.post-image-attachments{
    font-size: smaller;
}

.material-icons{
    color: white;
}

.post-authorship{
    margin: 0;
    padding: 0;
}

.post-authorship > li {
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
}

#help_btn{
    padding: 0 ;
}

.chip{
    display: initial;
    vertical-align: text-top;
    font-size: 14px;
    padding: 5px;
    margin-right: 15px;
    border-radius: 15px;
}

.subscribe-btn{
    color: black;
    vertical-align: text-top;
}

.subscribed-btn{
    color: blue;
    vertical-align: text-top;
}