.mdl-layout__header {
	position: fixed;
	top:0;
}
@media screen and (max-width: 1024px) {
    .mdl--layout__content {
        margin-top: 56px;
    }
}

@media screen and (min-width: 1024px) {
    .mdl--layout__content {
        margin-top: 64px;
    }
}
