#buboard_logo {
    width: 100%;
    padding: 0;
}

.mdl-layout {
    align-items: center;
    justify-content: center;
}

body {
    background-image: url('/static/image/corktile.jpg');
    background-attachment: local;
}