.card-profile {
    display: inline-block;
    width: 100%;
    color: white;
    background-color: #4ca6a6;
}

.mdl-card__media {
    float: left;
}

#profile_image {
    width: 150px;
    height: 150px;
    border-radius:50%;
    padding-left: 16px;
    padding-bottom: 16px;
    padding-top: 16px;
}

.content {
    background-color: rgba(255,255,255,0.2);
    border-radius: 10px;
    vertical-align: middle;
    width: initial;
    color: white;
    display: inline-block;
    margin-left: 16px;
    padding:5px
}

#followBtn {
    float: right;
    margin-right: 16px;
    margin-top:16px;
    margin-bottom:16px;
}

h4 {
    font-weight: bolder;
}

p {
    font-weight: bold;
    font-size: 16px;
}
