/*
    Fixed header has different widths on mobile and desktop
*/
.mdl-layout__header {
	position: fixed;
	top:0;
}

@media screen and (max-width: 1024px) {
    .mdl--layout__content {
        margin-top: 56px;
    }
}

@media screen and (min-width: 1024px) {
    .mdl--layout__content {
        margin-top: 64px;
    }
}
/*end header nonsense*/

.card-profile {
    display: inline-block;
    width: 100%;
    color: white;
    background-color: seagreen;
}

.mdl-card__media {
    float: left;
}

#profile_image {
    width: 150px;
    height: 150px;
    border-radius:50px;
    padding: 16px;
	margin: auto;
	float: left;
}

.content {
    /*background-color: rgba(255,255,255,0.2);*/
    border-radius: 10px;
    vertical-align: middle;
    width: initial;
    color: white;
    display: block;
    margin-left: 16px;
    padding:5px;
}

.hazard_panel {
    display: flex;
    margin: 16px;
    padding: 5px;
    width: fit-content;
    background: repeating-linear-gradient(
            -55deg,
            yellow,
            yellow 10px,
            black 10px,
            black 20px
    );
}

.verified_user {
    color: blue;
    margin-right: 2px;
}

.post-name-display {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}

.mdl-layout__header-row a {
	visibility: hidden;
}

/* Start Post Related CSS*/
#postsContentPanel {
    background-image: url('/static/image/corktile.jpg');
    background-attachment: local;
}

.mdl-card__title-text {
    color: white;
}

.post-image-attachments {
    font-size: smaller;
}

.post-authorship {
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.post-authorship > li {
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
}

.post-name-display {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}

#help_btn {
    padding: 0;
}

.chip {
    vertical-align: text-top;
    font-size: 14px;
    padding: 5px;
    /*border-radius: 15px;*/
    height: 100%;
}

.verified_user {
    font-size: medium;
    color: blue;
    margin-right: 2px;
}

.subscribe-btn {
    color: black;
    vertical-align: text-top;
}

.subscribed-btn {
    color: 	#ffa726 !important;
    vertical-align: text-top;
}

.addButtonPlacement {
    position: fixed;
    right: 24px;
    bottom: 24px;
    padding-top: 24px;
    margin-bottom: 0;
    z-index: 99;
}

.thumbtack {
    position: absolute;
    left: calc(50% - 36px);
    top: -12px;
}

.postTitleCard {
    padding-top: 35px;
}

.postOptionsMenu {
    padding-top: 19px;
}

.mdl-card {
    overflow: initial;
    height: fit-content;
    display: inline-grid;
}
