body {
    background-color: #80d8ff;
}

.mdl-card__title-text{
    color: white;
}

.material-icons{
    color: white;
}

.mdl-grid.center-items {
  justify-content: center;
}

.wide {
   width: 250px;
}

